<!DOCTYPE HTML>
<html ng-app="Troll">
    <head>
        <title>Troll of Legends</title>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta name="description" content="Troll of Legends, powered by 2014 SPRING KAKAO-KAIST Hackaton">
        <meta name="keywords" content="kaist, sparcs, troll of legends, complaints, newsfeed">
        <meta name="author" content="Jonghyuk Jung, heretor92@gmail.com, ChangWon Lee, chiyah92@gmail.com, Kyumin Sim, kyumin92@gmail.com">
        <!-- STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
        {% block css %}{% endblock %}
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
        {% block js %}{% endblock %}
        {% csrf_token %}
    </head>
    <body data-ng-controller="IndexControl" data-ng-init="init()">
        <div id="wrapper-popup" ng-show="isLoginOpen||isWriteOpen||isSigninOpen">
            <div class="popup-close" ng-click="closeModal()"></div>
            <div class="popup-login" ng-show="isSigninOpen">
                <h2 class="popup-login-title">환영합니다!</h2>
                <label class="popup-login-label">아이디 :</label>
                <input class="popup-login-field username"></input>
                <label class="popup-login-label">비밀번호 : </label>
                <input class="popup-login-field password"></input>
                <button class="popup-login-submit">회원가입</button>
            </div>
            <div class="popup-login" ng-show="isLoginOpen">
                <h2 class="popup-login-title">환영합니다!</h2>
                <label class="popup-login-label">아이디 :</label>
                <input class="popup-login-field username" ng-model="username"></input>
                <label class="popup-login-label">비밀번호 : </label>
                <input class="popup-login-field password" ng-model="password"></input>
                <button class="popup-login-submit" ng-click="login()">로그인</button>
            </div>
            <div class="popup-write" ng-show="isWriteOpen">
                <h2 class="popup-write-title">
                    <span>트롤링 스토리 작성하기</span>
                    <button class="popup-write-submit" ng-click="upload()">확인</button>
                </h2>
                <textarea class="popup-write-content" placeholder="웃픈 이야기를 풀어주세요!" ng-model="content"></textarea>
                <input type="text" placeholder="위치 정보 추가하기" ng-model="location" style="cursor:text" class="popup-write-add-place"></input>
                <button class="popup-write-add-photo">사진 추가하기</button>
            </div>
            <!--
            <div class="popup-map">
                <h2 class="popup-map-title">
                    <span>트롤링 위치 선택하기</span>
                    <button class="popup-map-submit">확인</button>
                </h2>
                <img class="popup-map-image" src="{{MEDIA_URL}}res/campusmap.gif">
            </div>
            -->
            {% block popup %}{% endblock %}
        </div>
        <div id="wrapper-header">
            <header id="header">
                <h1 id="logo">Troll of Legends</h1>
                <ul id="menu">
                    <li class="menu-story"><a href="/" ng-class="{sel:url=='main'}">트롤 이야기</a></li>
                    <li class="menu-map"><a href="/map/" ng-class="{sel:url=='map'}">트롤링 지도</a></li>
                    <li class="menu-static"><a href="/statistics/" ng-class="{sel:url=='statistics'}">트롤링 통계</a></li>
                </ul>
                <button id="login" ng-click="isLoginOpen=true" ng-hide="user">로그인</button>
                <button id="register" ng-click="isSigninOpen=true" ng-hide="user">회원가입</button>
                <button id="logout" ng-click="logout()" ng-show="user">로그아웃</button>
                <button id="write" ng-click="isWriteOpen=true" ng-show="user">글쓰기</button>
            </header>
        </div>
        <div id="wrapper-body">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

