<!DOCTYPE HTML>
<html ng-app="Troll">
    <head>
        <title>Troll of Legends</title>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta name="description" content="Troll of Legends, powered by 2014 SPRING KAKAO-KAIST Hackaton">
        <meta name="keywords" content="kaist, sparcs, troll of legends, complaints, newsfeed">
        <meta name="author" content="Jonghyuk Jung, heretor92@gmail.com; ChangWon Lee, chiyah92@gmail.com, Kyumin Sim, kyumin92@gmail.com">
        <!-- STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
        {% block css %}{% endblock %}
        <!-- SCRIPTS -->
        <script type="text/javascript" src="{{STATIC_URL}}js/angular.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>

