{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/controller/index.js"></script>
{% endblock%}
{% block body %}
<div data-ng-controller="IndexControl" data-ng-init="init()">
    [[troll]]
    <input ng-model="username"></input>
    <input ng-model="password" type="password"></input>
    <button ng-click="register_user()">signup</button>
    <button ng-click="login()">login</button>
    <button ng-click="logout()">logout</button>
</div>
{% endblock %}
