{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/controller/index.js"></script>
{% endblock%}
{% block body %}
<div data-ng-controller="IndexControl" data-ng-init="init()">
    [[user.username]]
    <div ng-hide="user">
        <input ng-model="newUsername"></input>
        <input ng-model="newPassword" type="password"></input>
        <button ng-click="register_user()">signup</button><br>
        <input ng-model="username"></input>
        <input ng-model="password" type="password"></input>
        <button ng-click="login()">login</button>
    </div>
    <div ng-show="user">
        <button ng-click="logout()">logout</button>
    </div>
    <br>
    <div ng-show="user">
        <input ng-model="content"></input>
        <button ng-click="upload()">upload</button>
    </div>
</div>
{% endblock %}
