{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/controller/index.js"></script>
{% endblock %}
{% block body %}
<div class="sort-button">
    <button class="sort-heart sel">
        <span>36</span>
    </button>
    <button class="sort-time">
        <span>214</span>
    </button>
    <button class="sort-comment">
        <span>5</span>
    </button>
</div>
<div class="trolling-list">
    <ul class="trolling-list-left">
        <li class="trolling-item" data-ng-repeat="troll in trolls" ng-show="$odd">
            <div class="t-item-header">
                <h3 class="t-item-user">
                    <img src="{{MEDIA_URL}}res/img_test_profile_01.png"><span>CheolKung</span>
                </h3>
                <div class="t-item-date">2014년 4월 23일</div>
                <button class="t-item-link">링크 복사</button>
            </div>
            <div class="t-item-content">
                [[troll.content]]
                <button class="t-item-place">사랑관 4층 화장실</button>
            </div>
            <div class="t-item-interaction">
                <button class="t-item-add-heart sel"><span>48명</span></button>
                <button class="t-item-see-comment"><span>7명</span></button>
            </div>
            <div class="t-item-comments">
                <div class="t-item-comment-item">
                    <div class="comment-item-user">
                        <img src="{{MEDIA_URL}}res/img_test_profile_02.png">
                    </div>
                    <div class="comment-item-content">
                        <div class="comment-item-paragraph">
                            <b class="comment-item-username">Sunguard</b>
                            격하게 공감하는 바입니다!!!!
                        </div>
                        <div class="comment-item-date">
                            2014년 5월 13일
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-item-comments-more">
                <button class="comment-item-more">코멘트 더보기</button>
                <input type="text" placeholder="댓글을 입력하고 엔터를 치세요."></input>
            </div>
        </li>
    </ul>
    <ul class="trolling-list-right">
        <li class="trolling-item" data-ng-repeat="troll in trolls" ng-show="$even">
            <div class="t-item-header">
                <h3 class="t-item-user">
                    <img src="{{MEDIA_URL}}res/img_test_profile_01.png"><span>CheolKung</span>
                </h3>
                <div class="t-item-date">2014년 4월 23일</div>
                <button class="t-item-link">링크 복사</button>
            </div>
            <div class="t-item-content">
                [[troll.content]]
                <button class="t-item-place">사랑관 4층 화장실</button>
            </div>
            <div class="t-item-interaction">
                <button class="t-item-add-heart sel"><span>48명</span></button>
                <button class="t-item-see-comment"><span>7명</span></button>
            </div>
            <div class="t-item-comments">
                <div class="t-item-comment-item">
                    <div class="comment-item-user">
                        <img src="{{MEDIA_URL}}res/img_test_profile_02.png">
                    </div>
                    <div class="comment-item-content">
                        <div class="comment-item-paragraph">
                            <b class="comment-item-username">Sunguard</b>
                            격하게 공감하는 바입니다!!!!
                        </div>
                        <div class="comment-item-date">
                            2014년 5월 13일
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-item-comments-more">
                <button class="comment-item-more">코멘트 더보기</button>
                <input type="text" placeholder="댓글을 입력하고 엔터를 치세요."></input>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
