{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/controller/index.js"></script>
{% endblock %}
{% block body %}
<div id="body">
    <div class="sort-button">
        <button class="sort-heart" ng-click="sortState='vote'" ng-class="{sel:sortState=='vote'}">
            <span>[[getMaxVote()]]</span>
        </button>
        <button class="sort-time" ng-click="sortState='time'" ng-class="{sel:sortState=='time'}">
            <span>[[getMaxTime()]]</span>
        </button>
        <button class="sort-comment" ng-click="sortState='comment'" ng-class="{sel:sortState=='comment'}">
            <span>[[getMaxReport()]]</span>
        </button>
    </div>
    <div class="trolling-list">
        <ul class="trolling-list-left">
            <li class="trolling-item" data-ng-repeat="troll in trolls | orderBy : sortFunc" ng-show="$even">
            <div class="t-item-header">
                <h3 class="t-item-user">
                    <img src="{{MEDIA_URL}}res/img_test_profile_01.png"><span>[[troll.user]]</span>
                </h3>
                <div class="t-item-date">[[troll.datetime | date:'yyyy-MM-dd HH:mm:ss']]</div>
                <button class="t-item-link">링크 복사</button>
            </div>
            <div class="t-item-content">
                [[troll.content]]
                <button class="t-item-place">[[troll.location]]</button>
            </div>
            <div class="t-item-interaction">
                <button class="t-item-add-heart" ng-class="{sel:troll.isVote&&user}" ng-click="doVote(troll)"><span>[[troll.num_votes]]명</span></button>
                <button class="t-item-see-comment"><span>[[troll.reports.length]]명</span></button>
            </div>
            <div class="t-item-comments">
                <div class="t-item-comment-item" data-ng-repeat="report in troll.reports">
                    <div class="comment-item-user">
                        <img src="{{MEDIA_URL}}res/img_test_profile_02.png">
                    </div>
                    <div class="comment-item-content">
                        <div class="comment-item-paragraph">
                            <b class="comment-item-username">[[report.username]]</b>
                            [[report.content]]
                        </div>
                        <div class="comment-item-date">
                            [[report.datetime | date:'yyyy-MM-dd HH:mm:ss']]
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-item-comments-more">
                <button class="comment-item-more">코멘트 더보기</button>
                <input type="text" placeholder="댓글을 입력하고 엔터를 치세요." ng-model="troll.newReport" ng-keyup="writeReport(troll, $event)"></input>
            </div>
            </li>
        </ul>
        <ul class="trolling-list-right">
            <li class="trolling-item" data-ng-repeat="troll in trolls | orderBy : sortFunc : reverse" ng-show="$odd">
            <div class="t-item-header">
                <h3 class="t-item-user">
                    <img src="{{MEDIA_URL}}res/img_test_profile_01.png"><span>[[troll.user]]</span>
                </h3>
                <div class="t-item-date">[[troll.datetime | date:'yyyy-MM-dd HH:mm:ss']]</div>
                <button class="t-item-link">링크 복사</button>
            </div>
            <div class="t-item-content">
                [[troll.content]]
                <button class="t-item-place">[[troll.location]]</button>
            </div>
            <div class="t-item-interaction">
                <button class="t-item-add-heart" ng-class="{sel:troll.isVote&&user}" ng-click="doVote(troll)"><span>[[troll.num_votes]]명</span></button>
                <button class="t-item-see-comment"><span>[[troll.reports.length]]명</span></button>
            </div>
            <div class="t-item-comments">
                <div class="t-item-comment-item" data-ng-repeat="report in troll.reports">
                    <div class="comment-item-user">
                        <img src="{{MEDIA_URL}}res/img_test_profile_02.png">
                    </div>
                    <div class="comment-item-content">
                        <div class="comment-item-paragraph">
                            <b class="comment-item-username">[[report.username]]</b>
                            [[report.content]]
                        </div>
                        <div class="comment-item-date">
                            [[report.datetime | date:'yyyy-MM-dd HH:mm:ss']]
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-item-comments-more">
                <button class="comment-item-more">코멘트 더보기</button>
                <input type="text" placeholder="댓글을 입력하고 엔터를 치세요." ng-show="user" ng-model="troll.newReport" ng-keyup="writeReport(troll, $event)"></input>
            </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
